<div class="footer-wrapper">
  <div class="left-section d-flex justify-content-between align-items-center">
    <div class="text-wrapper d-flex align-items-center">
      <div class="terms">
        <a>Terms & conditions </a>
      </div>
      <span> |</span>
      <div class="policy">
        <a>Privacy Policy</a>
         </div>
    </div>
    <div class="social-media-section">
      <a href="">
        <img src="../../assets/images/social-media/facebook.svg" alt="">
      </a>
      <a href="">
        <img src="../../assets/images/social-media/linkedIn.svg" alt="">
      </a>
      <a href="">
        <img src="../../assets/images/social-media/twitter.svg" alt="">
      </a>
      <a href="">
        <img src="../../assets/images/social-media/youtube.svg" alt="">
      </a>
    </div>
  </div>
  <div class="rights-media-section">

    <div class="text-wrapper copy-right">
      <a>2019. All right reserved </a>
    </div>
  </div>
</div>
