<carousel [isAnimated]="true">
  <slide>
    <img src="../../assets/images/hero-banner.png" alt="First slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <h3>First slide label</h3>
    </div>
  </slide>
  <slide>
    <img src="../../assets/images/signup-banner.png" alt="Second slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <h3>Second slide label</h3>
    </div>
  </slide>
  <slide>
    <img src="../../assets/images/featuredbanner1.png" alt="Third slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <h3>Third slide label</h3>
    </div>
  </slide>
</carousel>
