<div class="footer-section">
  <div class="custom-container">
    <div class="footer-wrapper">
      <div class="content-section">
        <div class="row">
          <div class="col-lg-6">
            <div class="row">
              <div class="col-lg-4 info-data-container" *ngFor='let i of [1,2,3]'>
                <div class="info-data">
                  <ul class="data-wrapper">
                    <li class="title" data-aos="fade-up" data-aos-duration="500">Company</li>
                    <li class="text" data-aos="fade-up" data-aos-duration="500">Home</li>
                    <li class="text" data-aos="fade-up" data-aos-duration="500">About Us</li>
                    <li class="text" data-aos="fade-up" data-aos-duration="500">Services</li>
                    <li class="text" data-aos="fade-up" data-aos-duration="500">Packages</li>
                    <li class="text" data-aos="fade-up" data-aos-duration="500">Contact Us</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 contact-wrapper d-flex ">
            <div class="info-data">
              <ul class="data-wrapper">
                <li class="title" data-aos="fade-up" data-aos-duration="500">Contact US</li>
                <li class="text" data-aos="fade-up" data-aos-duration="500">
                  <a href="mailto:info@experionglobal">info@experionglobal</a>
                </li>
                <li class="text" data-aos="fade-up" data-aos-duration="500">
                  <a href="tel:+984648340">+984648340</a>
                </li>

              </ul>
            </div>
          </div>

        </div>
      </div>

      <div class="footer-band">
        <app-footer></app-footer>
      </div>
    </div>
  </div>
</div>
