<div class="hero-section">
  <div class="header-section" [ngStyle]='style'>
    <app-header></app-header>
  </div>
  <div class="carousel-section">
    <div class="banner-carousel">
      <app-carousel></app-carousel>
    </div>
    <div class="data-section">
      <div class="content-box">
        <p class="main-title" data-aos="fade-right">Lorem Ipsum Dolor sit Amet</p>
        <span class="sub-text" data-aos="fade-right">At iam decimum annum in spelunca iacet.
          Cur tantas regiones barbarorum pedibus obiit, tot
          maria transmisit? Duarum enim vitarum nobis erunt instituta capienda. Fortasse id optimum, sed ubi illud: Plus
          semper voluptatis</span>
        <button type="button" class="common-btn-warning">contact</button>
      </div>
      <div class="search-box">
        <div class="search-wrapper d-flex align-items-center">
          <input class="form-control" type="search" id="search" placeholder="Search" aria-label="Search" mdbInput>
          <label for="search" class="fa fa-search  cp"></label>
        </div>
      </div>
    </div>
  </div>
</div>
