@import '~src/scss/_variables';
@import '~src/scss/_mixins';


.menu-wrapper {
  list-style: none;
  color: $white;
  padding-top: 100px;

  .list-item {
    margin-bottom: 20px;
    transform: translateX(500px);
    transition: 0.5s ease-in;
    font-size: 18px;
    font-weight: 500;

    a {
      text-decoration: none;
      color: $white;
      position: relative;
      &::after{
          content: '';
          position: absolute;
          left: 0;
          bottom: -5px;
          width: 0;
          height: 2px;
          border-radius: 6px;
          background-color: $white;
          transition: 0.3s linear;
      }
      &:hover{
          &::after{
              width: 100%;
          }
      }
    }
  }
}
