<div class="inspiratin-section">
  <div class="custom-container">
    <div class="heading-center">
      <div class="title" data-aos="fade-down" data-aos-duration="2000"> Inspirations </div>
      <div class="sub-text" data-aos="fade-down"  data-aos-duration="2000">
        At iam decimum annum in spelunca iacet. Cur tantas regiones barbarorum pedibus obiit, tot maria transmisit.
      </div>
    </div>


    <div class="row grid-section">
      <div class="col-lg-8 wrapper" data-aos="fade-down">
        <div class="item">
          <div class="data-section">
            <div class="content-wrapper">
              <span class="label-text" data-aos="fade-right" data-aos-duration="3000">At iam decimum </span>
              <div class="main-text">At iam decimum annum in spelunca iacet. Cur tantas regiones
                barbarorum
              </div>
            </div>
            <div class="avatar-section" data-aos="fade-up">
              <div class="avatar-item"></div>
              <div class="avatar-item"></div>
              <div class="avatar-item"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 wrapper" data-aos="fade-down">
        <div class="item">
          <div class="data-section">
            <div class="content-wrapper">
              <span class="label-text" data-aos="fade-right">At iam decimum </span>
              <div class="main-text">At iam decimum annum in spelunca iacet. Cur tantas regiones
                barbarorum
              </div>
            </div>
            <div class="avatar-section" data-aos="fade-up">
              <div class="avatar-item"></div>
              <div class="avatar-item"></div>
              <div class="avatar-item"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 wrapper" data-aos="fade-down">
        <div class="item">
          <div class="data-section">
            <div class="content-wrapper">
              <span class="label-text" data-aos="fade-right">At iam decimum </span>
              <div class="main-text">At iam decimum annum in spelunca iacet. Cur tantas regiones
                barbarorum
              </div>
            </div>
            <div class="avatar-section" data-aos="fade-up">
              <div class="avatar-item"></div>
              <div class="avatar-item"></div>
              <div class="avatar-item"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 wrapper" data-aos="fade-down">
        <div class="item">
          <div class="data-section">
            <div class="content-wrapper">
              <span class="label-text" data-aos="fade-right">At iam decimum </span>
              <div class="main-text">At iam decimum annum in spelunca iacet. Cur tantas regiones
                barbarorum
              </div>
            </div>
            <div class="avatar-section" data-aos="fade-up">
              <div class="avatar-item"></div>
              <div class="avatar-item"></div>
              <div class="avatar-item"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 wrapper" data-aos="fade-down">
        <div class="item">
          <div class="data-section">
            <div class="content-wrapper">
              <span class="label-text" data-aos="fade-right">At iam decimum </span>
              <div class="main-text">At iam decimum annum in spelunca iacet. Cur tantas regiones
                barbarorum
              </div>
            </div>
            <div class="avatar-section" data-aos="fade-up">
              <div class="avatar-item"></div>
              <div class="avatar-item"></div>
              <div class="avatar-item"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 wrapper" data-aos="fade-down">
        <div class="item">
          <div class="data-section">
            <div class="content-wrapper">
              <span class="label-text" data-aos="fade-right">At iam decimum </span>
              <div class="main-text">At iam decimum annum in spelunca iacet. Cur tantas regiones
                barbarorum
              </div>
            </div>
            <div class="avatar-section" data-aos="fade-up">
              <div class="avatar-item"></div>
              <div class="avatar-item"></div>
              <div class="avatar-item"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-8 wrapper" data-aos="fade-down">
        <div class="item">
          <div class="data-section">
            <div class="content-wrapper">
              <span class="label-text" data-aos="fade-right">At iam decimum </span>
              <div class="main-text">At iam decimum annum in spelunca iacet. Cur tantas regiones
                barbarorum
              </div>
            </div>
            <div class="avatar-section" data-aos="fade-up">
              <div class="avatar-item"></div>
              <div class="avatar-item"></div>
              <div class="avatar-item"></div>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>
