<router-outlet>
  <div class="menu" [ngClass]="{'active': menuSevice.isMenuOpen}">
    <app-menu-slider></app-menu-slider>
  </div>
  <app-hero-banner></app-hero-banner>
  <app-tile-cards></app-tile-cards>
  <app-banner-featured></app-banner-featured>
  <app-download-app></app-download-app>
  <app-featured-carousel></app-featured-carousel>
  <app-signup-banner></app-signup-banner>
  <app-inspirations></app-inspirations>
  <app-learn-more></app-learn-more>
  <app-footer-section></app-footer-section>
</router-outlet>
