<div class="download-app-section">
  <div class="custom-container">
    <div class="mobile-wrapper" data-aos="fade-up">
      <div class="speaker d-flex justify-content-center">
        <span class="line"></span>
      </div>
      <div class="screen-wrapper">
        <div class="screen">
          <img src="../../assets/images/mobile.png" alt="">
          <div class="screen-content">
            <div class="title" data-aos="fade-right">Lorem Ipsum Dolor Sit Amet</div>
            <div class="sub-title" data-aos="fade-left">At iam decimum annum in spelunca iacet. Cur tantas regiones</div>
            <button data-aos="fade-up" class="common-btn-warning screen-right">contact</button>
          </div>
        </div>
        <div class="screen-bottom-section d-flex">
          <div class="panel">
            <div class="image-box" data-aos="fade-down" data-aos-duration="1500">
              <img src="../../assets/images/home.png" alt="">
            </div>
            <div class="text-line-box" >
              <div class="line" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="500"
                *ngFor="let i of [1,2,3,4,5,6]"></div>
            </div>
          </div>
          <div class="panel">
            <div class="image-box" data-aos="fade-down" data-aos-duration="1500">
              <img src="../../assets/images/lantern.png" alt="">
            </div>
            <div class="text-line-box">
              <div class="line" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="500"
                *ngFor="let i of [1,2,3,4,5,6]"></div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="download-icon-section" data-aos="fade-up">
      <div class="heading" data-aos="fade-down" data-aos-duration="4000">Download Our App</div>
      <div class="sub-text" data-aos="fade-up" data-aos-duration="4000">At iam decimum annum in spelunca iacet. Cur
        tantas barbarorum pedibus
        obiit, tot maria
        transmisit.</div>
      <div class="icon-wrapper d-flex align-items-center">
        <div class="icon-box">
         <a href=""> <img src="../../assets/images/appstore.svg" alt=""></a>
        </div>
        <div class="icon-box">
          <a href=""> <img src="../../assets/images/googleplay.svg" alt=""></a>
        </div>
      </div>
    </div>
  </div>
</div>
