
<div class="custom-container">
    <div class="signup-banner">
        <div class="content-wrapper">
            <div class="heading" data-aos="fade-right">Sign Up Our Newsletter</div>
            <div class="sub-text" data-aos="fade-right">At iam decimum annum in spelunca iacet. Cur tantas regiones
              barbarorum pedibus obiit,
              tot maria transmisit.</div>
        </div>
        <div class="signup-form-wrapper">
            <app-signup-form></app-signup-form>
        </div>
    </div>
</div>
