@import '~src/scss/_variables';
@import '~src/scss/_mixins';

.card-tiles-wrapper {

    .title {
        font-size: 50px;
        font-weight: 600;
        color: $secondary;
        max-width: 668px;
        margin-bottom: 30px;

        @media screen and (max-width:767px) {
            font-size: 22px;
            margin-bottom: 18px;
        }
    }

    .card-section {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -12px;

        @media screen and (max-width:767px) {
            margin: 0 -5px;

        }

        .card-wrapper {
            padding: 0 12px;

            @media screen and (max-width:768px) {
                padding: 0 5px;
                margin-bottom: 10px;
                width: 50%;

            }

            .image-card {
                height: 400px;
                background-color: $black;
                position: relative;
                overflow: hidden;
                border-radius: 4px;
                background-image: url('../../assets/images/rectangle1.png');
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                cursor: pointer;

                .content {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    padding: 30px;
                    display: flex;
                    align-items: flex-end;
                    transition: 0.5s linear;
                    @media screen and (max-width:767px){
                        padding: 16px;
                    }
                    .text {
                        color: $white;
                        width: 120px;
                        transform: translateY(100px);
                        opacity: 0;
                        transition: 0.5s linear;
                    }

                }

                &:hover {
                    .content {
                        background-color: $shade;

                        .text {
                            transform: translateY(0);
                            height: auto;
                            opacity: 1;
                        }

                    }
                }
            }

            &:nth-child(2) {
                .image-card {
                    background-image: url('../../assets/images/Rectangle2.png');
                }
            }

            &:nth-child(4) {
                .image-card {
                    background-image: url('../../assets/images/Rectangle3.png');
                }
            }
        }
    }

}