
<div class="custom-container card-tiles-wrapper">
    <div class="title" data-aos="fade-right" data-aos-duration="800">
        Quae quo sunt excelsiores Dant clariora
    </div>
 
    <div class=" row card-section">
        <div class=" col-lg-3 card-wrapper" data-aos="fade-up" data-aos-duration="800"
          *ngFor="let i of [1,2,3,4]">
            <div class="image-card">
                <div class="content">
                    <div class="text sub-text">Quae excelsiores Dant clariora</div>
                </div>
            </div>
        </div>
    </div>
</div>
