@import '~src/scss/_variables';
@import '~src/scss/_mixins';

html {
  scroll-behavior: smooth;
}
body{
    font-family: $poppins !important;
}
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: none;
  border-radius: 10px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background:$primary;
  border-radius: 10px;
}
.cp{
  cursor: pointer;
}
.custom-container{
    padding: 80px 130px;

     @media screen and (max-width:1024px) {
       padding: 80px 50px;
     }
    @media screen and (max-width:768px){
        padding: 20px 16px;
    }
}

.sub-text{
font-size: 14px;
font-weight: 400;
font-family: $poppins;
}
.common-btn{
   font-size: 16px;
   font-weight: 400;
   color: $white; 
   padding: 20px 64px;
   border-radius: 4px;
   border: none;
   text-transform: uppercase;
   &:focus{
       outline: none;
   }
   &-warning{
       @extend .common-btn;
       background-color: $alert;
   }
   &-blue{
       @extend .common-btn;
       background-color: $blue;
   }
   &:active{
       transform: translateY(-3px);
       transition: 0.2s ease-in;
   }

   @media screen and (max-width:768px){
   padding: 16px 50px;

   }
}

.menu{
    height: 100%;
    width: 300px;
    background-color: $primary-transparent;
    position: fixed;
    top: 0;
    z-index: 800;
    right: 0;
    transform: translateX(300px);
    transition: 0.3s ease-in;
    &.active{
      transform: translateX(0);

      .menu-wrapper{
        .list-item{
          transform: translate(0) !important;
           &:nth-child(1) {
             transition-delay: 0.1s;
           }

           &:nth-child(2) {
             transition-delay: 0.2s;
           }

           &:nth-child(3) {
             transition-delay: 0.3s;
           }
            &:nth-child(4) {
              transition-delay: 0.4s;
            }
             &:nth-child(5) {
               transition-delay: 0.5s;
             }
        }
      }
    }
}

.line{
    height: 5px;
    background-color: #E3E6ED;
    display:block;
    border-radius: 6px;
    margin-bottom: 3px;
}


.heading-center {
  text-align: center;
  padding-top: 80px;
  max-width: 488px;
  margin: auto;
 @media screen and (max-width:767px){
   padding-top: 20px;
 }
  .title {
    font-size: 45px;
    font-weight: 600;
    color: $primary;
    margin-bottom: 5px;

     @media screen and (max-width:767px) {
      font-size: 22px;
      margin-bottom: 8px;
     }
  }

  .sub-text {
    color: $text-color;
      @media screen and (max-width:767px) {
      margin-bottom: 18px;
      }
  }
}



// bannerpage carousel styles//@extend
.banner-carousel{
  position: relative;
  &::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
  }
  .carousel-inner{
    height: 100vh;
    @media screen and (max-width:1366px){
      height: 800px;
    }
     @media screen and (max-width:768px) {
       height: 500px;
     }
    @media screen and (max-width:767px) {
      height: 400px;
    }
    .item {
      height: 100vh;
       @media screen and (max-width:1366px) {
         height: 800px;
         img{
           height: 100%;
         }
       }
         @media screen and (max-width:768px) {
           height: 500px;
         }
       @media screen and (max-width:767px) {
         height: 400px;
       }
       img{
          @media screen and (max-width:768px) {
            height: 100%;
          }
       }
    }

  }
    .carousel-indicators {
      display: none;
    }

     .carousel-control-prev, .carousel-control-next {
           left: auto;
           bottom: 30px;
           top: auto;
           right: 100px;
           width: 30px;
           height: 30px;
           display: flex;
           align-items: center;
           justify-content: center;
           .carousel-control-prev-icon{
             background-image: url('../assets/images/arrow-left.svg');
           }
           @media screen and (max-width:767px){
             display: none;
           }
     }
     .carousel-control-next{
          right: 30px;
          .carousel-control-next-icon{
            background-image: url('../assets/images/arrow-right.svg');
          }
     }
}


// featured stories carousel


.video-carousel-section{
  margin-top: 24px;
  .carousel{
    width: 50%;
    margin: auto;
    @media screen and (max-width:768px){
      width: 100%;
      padding: 0 16px;
      margin-bottom: 20px;
    }
  }
  .carousel-inner{
    @media screen and (max-width:768px){
      width: 100%;
    }
    .item{
      height: 50vh;
      border-radius: 6px;
      overflow: hidden;
      img {
        height: 100%;
      }
       @media screen and (max-width:768px) {
         width: 100%;
         height: 300px;
         
       }
    }
    }
  }

