
// commonly used color pallete //

$poppins: 'Poppins',sans-serif;
$primary:#112733;
$primary-transparent:#112733e6;
$secondary:#203A4B;
$text-color:#889399;
$white: #fff;
$black:#000;
$alert:#EF7061;
$shade:#83bcc5e6;
$blue:#83BCC5;
$gray-shade:#90999F;
$gray-dark:#2E2E31;
$gray-light: #888888;
$search-text:#4F4F4F;